/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle ul{ /*topmost and sub ULs, respectively*/
font: 12px Arial, Helvetica, sans-serif;
/*font-weight:bold;*/
margin: 0 0 0 0px;
padding: 0 0 0 0px;
position: absolute;
left: 0;
top: 0;
/*border:solid 1px #52008F;*/
list-style-type: none;
border-bottom-width: 0;
visibility: hidden;
z-index: 96;
}

.ddsubmenustyle li a{


display: block;
height:22px;
min-width: 180px; /*width of menu (not including side paddings)*/
color: #ffffff;
border-bottom:solid 1px #276E7F;
border-left:solid 1px #276E7F;
border-right:solid 1px #276E7F;
text-decoration: none;
padding: 8px 5px 0 5px;
background-color: #5BA9BD;


}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline;
width: 96px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
background-color: #3C879A;
color: #ffffff;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 0;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;

}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}

.topsep{

	background-image: url(https://treatcfsfm.org/images/white_line.gif);
	background-repeat: no-repeat;
	background-position: center top;
}




.ddsubmenustyle1, .ddsubmenustyle1 ul{ /*topmost and sub ULs, respectively*/
font: bold 12px Arial, Helvetica, sans-serif;
margin: 0 0 0 1px;
padding: 0 0 0 0px;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

border-bottom-width: 0;
visibility: hidden;
}

.ddsubmenustyle1 li a{

display: block;
width: 105px; /*width of menu (not including side paddings)*/
color: #ffffff;

text-decoration: none;
padding: 5px 12px;
background-color: #005581;


}

* html .ddsubmenustyle1 li{ /*IE6 CSS hack*/
display: inline;
width: 105px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle1 li a:hover{
background-color: #005581;
color: #ffd204;
}

.topsep1{

	background-image: url(https://treatcfsfm.org/images/white_line1.gif);
	background-repeat: no-repeat;
	background-position: -2px top;
	
	
}

.ddsubmenustyle2, .ddsubmenustyle1 ul{ /*topmost and sub ULs, respectively*/
font: bold 12px Arial, Helvetica, sans-serif;
margin: -1px 0 0 1px;
padding: 0 0 0 0px;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

border-bottom-width: 0;
visibility: hidden;
}

.ddsubmenustyle2 li a{

display: block;
width: 105px; /*width of menu (not including side paddings)*/
color: #000000;

text-decoration: none;
padding: 5px 12px;
background-color: #69BACF;


}

* html .ddsubmenustyle2 li{ /*IE6 CSS hack*/
display: inline;
width: 105px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle2 li a:hover{
background-color: #3C879A;
color: #9D0917;
}


.topsep3{

	background-image: url(https://treatcfsfm.org/images/white_line2.gif);
	background-repeat: no-repeat;
	background-position: -2px top;
}