/* --------------------------------------------------------------------------
	 Custom Tooltip CSS:
	 Reference: https://www.w3schools.com/css/css_tooltip.asp
   -------------------------------------------------------------------------- */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #018ac0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #018ac0;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f4b95d transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}