# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db

# Poetry
.poetry/

# VS Code
.vscode/

# Test data and artifacts
/tests/__pycache__/
/tests/*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.tmp

# Ignore generated markdown output
*.output.md
*.merged.md

# Ignore local files
local_*
